@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

header{
background-color:hotpink;
text-align: center;
font-size: 25px;
font-family: 'Mynerve';
}

img{ 
 display: block;
 margin-right: 30px;
}

section{
  display:flex;
  flex-wrap: wrap;
}

section h2 {
width:fit-content;
background-color:violet;
}

section div {
  max-width: 50%;
background-color: violet;
}
