@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

header{
background-color:hotpink;
text-align: center;
font-size: 25px;
font-family: 'Mynerve';
}

img{ 
 margin-right:25px;
}

